body {
    background-color: rgb(83, 85, 87);
    font-family: 'Courier New', Courier, monospace;
    width: 1300px;
    margin: 0 auto;
}

.baroption {
    display: flex;
    background-color: aliceblue;
    /* border: 1px solid red; */
}

.companylogo {
    width: 40%;
    float: left;
    /* border: 1px solid rgb(33, 25, 150); */
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: arial black;
    padding: 15px;
}

.bardiagram {
    overflow: hidden;
    padding: 15px;
    padding-left: 200px;
    font-size: 15px;
    align-items: center;
    display: inline-block;
}

.bardiagram span {
    padding-left: 30px;
}

.bannerimg {
    background-image: url("./img/f.jpg");
    background-color: aqua;
    background-repeat: no-repeat;
    width: 1300px;
    height: 550px;
    margin: 0 auto;
}

.bannerimg {
    text-align: center;
    color: brown;
}

.bannerimg span {
    display: block;
    padding-top: 150px;
    color: brown;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: bold;

}
.bannerimg p{
    color: rgba(240, 8, 19, 0.918);
}

button{
    padding: 15px 30px;
    color: brown;
    background-color: #d9ccc46c ;
    border: 1px solid brown;
}
.bestselleroption{
    background-color: aliceblue;
    margin: 0 auto;
}
.sellerheader{
    padding: 50px;
    text-align: center;
    font-size: 35px;
    color: purple;
    font-weight: bold;
}
.sellerproduct{
    display: flex;
    background-color: aliceblue;
    align-items: center;
    color: purple;
    padding: 20px;
}
.candypot{
    float: left;
    padding-left: 200px ;
    text-align: center;
}
.dropvase{
    float: left;
    text-align: center;
    padding-left: 20px;  
}

.wavevase{
    float: left;
    padding-left: 20px;
    text-align: center;   
}

.sunvase{
    text-align: center;
    overflow: hidden;
    padding-left: 20px;
}
.sellerbutton{
    text-align: center;
    padding: 50px;
}
.sellerbutton button{
    padding: 15px 30px;
    border: 1px solid purple;
    color: purple;
    text-align: center;
}
.homeitem{
    background-image: url("./img/homedecor.jpg");
    background-repeat: no-repeat;
    height: 550px;
    text-align: center;
    color: brown;
    background-color: red;
}
.homeitem h3{
    padding-top: 150px;
    color: brown;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0 auto;
}
.followinstagram{
    background-color: aliceblue;

}
.instagramheader{
    text-align: center;
    font-size: 40px;
    color: purple;
    font-weight: 550;
    padding: 50px;
}
.instagramgallary{
    display: flex;
    width: 870px;
    margin: 0 auto;
}

.instagramgallary img{
    padding: 0px 15px;
}
.instagramid{
    text-align: center;
    padding: 30px;
}
.instagramid a{
    color: blueviolet;
}
.footeroptions{
    background-color: rgba(173, 176, 179, 0.973);
    padding: 50px 30px 0px ;
}
.barfooter{
    display: flex;
}
.barfooterdiagram{
    padding: 15px;
    float: right;
    /* border: 1px solid rgb(33, 25, 150); */
}
.barfooterdiagram a{
    padding: 15px;
    color: blueviolet;
    
}
.minalogo{
    width: 47%;
    float: left;
    /* border: 1px solid rgb(33, 25, 150); */
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: arial black;
    padding: 15px;
}