body {
    background-color: rgb(83, 85, 87);
    font-family: 'Courier New', Courier, monospace;
    width: 1300px;
    margin: 0 auto;
}

.baroption {
    display: flex;
    background-color: aliceblue;
    /* border: 1px solid red; */
}

.companylogo {
    width: 40%;
    float: left;
    /* border: 1px solid rgb(33, 25, 150); */
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: arial black;
    padding: 15px;
}

.bardiagram {
    overflow: hidden;
    padding: 15px;
    padding-left: 200px;
    font-size: 15px;
    align-items: center;
    display: inline-block;
}

.bardiagram span {
    padding-left: 30px;
}

.bannerimg {
    background-image: url("./img/f.jpg");
    background-color: aqua;
    background-repeat: no-repeat;
    width: 1300px;
    height: 550px;
    margin: 0 auto;
}

.bannerimg {
    text-align: center;
    color: brown;
}

.bannerimg span {
    display: block;
    padding-top: 150px;
   color: brown;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: bold;

}
.bannerimg p{
    color: rgba(240, 8, 19, 0.918);
}

button{
    padding: 15px 30px;
    color: rgb(21, 18, 207);
    background-color: #d9ccc46c ;
    border: 1px solid blue;
}